<!DOCTYPE html>
<html>
<head>
    <title>主机列表</title>
</head>
<body>
    <h1>主机列表</h1>
    <a href="{% url 'data_test:host_create' %}">添加新主机</a>

    <table border="1">
        <tr>
            <th>主机名</th>
            <th>IP地址</th>
            <th>端口</th>
            <th>用户名</th>
            <th>操作</th>
        </tr>
        {% for host in hosts %}
        <tr>
            <td>{{ host.hostname }}</td>
            <td>{{ host.ip }}</td>
            <td>{{ host.port }}</td>
            <td>{{ host.username }}</td>
            <td>
                <a href="{% url 'data_test:host_update' host.pk %}">编辑</a>
                <a href="{% url 'data_test:host_delete' host.pk %}">删除</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">暂无数据</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
