{% extends 'base.html' %}
{% load static %}
{% block title %}
    <h2>wb-ansible 面板</h2>
{% endblock %}
{#<script src="//unpkg.com/layui@2.11.4/dist/layui.js"></script>#}
{#<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{% block content %}
    <style>
        #output-container {
        {#width: 500px;#} height: 500px;
            border: 1px solid #ccc;
            background-color: #1e1e1e; /* 类似终端黑底 */
            color: #00ff00;
            font-family: "Courier New", Courier, monospace;
            overflow-y: auto;
            padding: 10px;
            box-sizing: border-box;
        }

        #host_tables {
            height: 550px;
            overflow-y: auto;


        }


    </style>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space30">
            <div id="host_tables" class="layui-col-xs6">
                <table class="layui-hide" id="job_list" lay-filter="job_list"></table>
            </div>
            <div class="layui-col-xs6">
                <button id="run_ansible" class="layui-btn layui-btn-primary layui-border-green">开始执行</button>

                <pre class="layui-code code-demo" id="output-container" lay-options="{}"> </pre>

            </div>
        </div>

    </div>



    <script>
        $(document).ready(
            function () {
                $('#run_ansible').on('click',
                    function (event) {
                        event.preventDefault(); // 阻止按钮的默认提交行为
                        $.ajax({
                            url: '{% url 'ansible_run:ansible_run' %}',
                            method: 'GET',
                            success: function (data) {
                                {#console.log(data['task_id'])#}
                                wbsocket(data['task_id'])
                            }
                        })

                    })

            }
        )

        function wbsocket(task_id) {
            {#console.log(task_id)#}
            const socket = new WebSocket("ws://192.168.56.142:8000/ws/task/" + task_id);

            socket.onmessage = function (event) {

                try {
                    var jsonObject = JSON.parse(event.data);
                    var outputContainer = document.getElementById("output-container");
                    console.log(jsonObject)
                    // 创建一个新的 div 元素用于显示每一行
                    var line = document.createElement("div");
                    line.className = "log-line";


                    // 显示内容（例如 stdout）
                    line.textContent = `${jsonObject['stdout']}`;
                    if (jsonObject.status === "runner_on_unreachable" || jsonObject.status === "runner_on_failed") {
                        line.style.color = "#ff4d4d"; // 红色
                    } else if (jsonObject.status === "runner_on_ok") {
                        line.style.color = "#16b777";

                    }
                    // 追加到容器中
                    outputContainer.appendChild(line);

                    // 自动滚动到底部
                    outputContainer.scrollTop = outputContainer.scrollHeight;

                } catch (e) {
                    console.error("JSON 解析失败:", event.data);
                }
            };
        }

        layui.use(['table'], function () {
            var table = layui.table;
            table.render({
                elem: '#job_list',
                url: '{% url 'runner_jobs:job-list' %}',
                page: true,
                limits: [5, 10, 50, 100, 200],
                cols: [[
                    {field: 'job_name', title: '任务名称',},
                    {field: 'job_type', title: '任务类型'},
                    {
                        title: "操作",
                        templet: function (d) {
                            // d 是当前行的数据对象，d.id 就是主键
                            return `
                             <button lay-event="delete" class="layui-btn layui-bg-red layui-btn-xs">删除</button>
                            <button lay-event="get"  class="layui-btn layui-btn-xs">查看</button>
                        `
                        }
                    }
                ]]

            })
            table.on('tool(job_list)', function (obj) {
                console.log(obj.data.job_id)
                if (obj.event == "get") {
                    layer.open({
                        type: 2, // page 层类型
                        area: ['700px', '600px'],
                        title: 'Hello layer',
                        scrollbar: false,
                        maxmin: true, // 允许全屏最小化
                        content: '/runner_jobs/jobs/' + obj.data.job_id,
                        end: function () {
                            // 在这里重载表格
                            layui.table.reload('job_list'); // 'job_list' 是你 table.render({ elem: "#job_list" }) 中的 elem ID
                        }
                    });

                }
            })
        })


    </script>
{% endblock %}

