
{% extends 'base.html' %}
{% block title %}
    任务列表
{% endblock %}
{% block content %}
    <table class="layui-hide" id="test" lay-filter="test"></table>


    <script src="//unpkg.com/layui@2.11.4/dist/layui.js"></script>
    <script>

        layui.use(['table', 'dropdown'], function () {
            var table = layui.table;
            var dropdown = layui.dropdown;
            // 单元格事件处理

            table.on('tool(test)', function (obj) {
                console.log(obj)
                if (obj.event == 'details') {

                    task_id = obj.data.task_id
                    console.log(task_id)
                    layer.open({
                        type: 2, // page 层类型
                        area: ['700px', '600px'],
                        title: 'Hello layer',
                        scrollbar: false,

                        maxmin: true, // 允许全屏最小化
                        content: '/go_result_page/' + task_id
                    });

                }
            })
            table.render({
                elem: "#test",
                url: '{% url 'ansible_run:get_task_list_api' %}',
                page: true, // 是否显示分页
                limits: [5, 10, 50, 100, 200],
                limit: 5,// 每页默认显示的数量

                {#toolbar: true,#}
                cols: [[
                    {
                        field: 'task_id',
                        title: '任务ID'
                    },
                    {
                        field: 'created_at',
                        title: '创建时间'
                    },
                    {
                        title: "详情",
                        templet: ' <button type="button" lay-event="details" class="layui-btn layui-btn-xs">详情</button>',
                    }
                ]]
            })

        })




    </script>
{% endblock %}