{% extends 'base.html' %}
{% block title %}
    Playbook管理
{% endblock %}
{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">

    <table class="layui-hide" id="test" lay-filter="test"></table>


    <script>

        layui.use(['table', 'dropdown'], function () {

            var table = layui.table;
            var dropdown = layui.dropdown;
            // 单元格事件处理
            table.on('tool(test)', function (obj) {
                // 删除palybook
                if (obj.event == 'delete') {
                    if (confirm('确定要删除吗？')) {  // 原生 confirm 弹窗
                        // 发送 AJAX DELETE 请求
                        $.ajax({
                            url: `/playbook/delete/${obj.data.id}/`,  // 视图对应的 URL
                            type: 'POST',        // 请求类型
                            headers: {
                                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')  // 正确获取 token
                            },
                            success: function (response) {
                                console.log(response.status)
                                if (response.status === 'success') {
                                    //  重载
                                    table.reload('test')
                                    {#alert('删除成功');#}
                                }
                            },
                        });
                    }
                }
                // 查看Playbook详情

                if (obj.event == "detail") {
                     layer.open({
                        type: 2, // page 层类型
                        area: ['700px', '600px'],
                        title: 'Playbook详情',
                        scrollbar: false,
                        maxmin: true, // 允许全屏最小化
                        content: '/playbook/' + obj.data.id,
                        end: function () {
                            // 在这里重载表格
                            layui.table.reload('test'); // 'test' 是你 table.render({ elem: "#test" }) 中的 elem ID
                        }
                    });

                }
            })

            table.render({
                elem: "#test",
                {#id: 'reload',#}
                url: '{% url 'playbook:get_playbook_list_api' %}',
                page: true, // 是否显示分页
                limits: [5, 10, 50, 100, 200],
                limit: 5,// 每页默认显示的数量

                toolbar: `
                <div>
                <button type="button" id="left_toolbar_create_playbook"  lay-event="left_toolbar_create_playbook" class="layui-btn layui-btn-sm">添加Playbook</button>
                </div>

                `,
                cols: [[
                    {type: 'checkbox', fixed: 'left'},
                    {
                        field: 'name',
                        title: 'Playbook名称'
                    },
                    {
                        field: 'description',
                        title: '描述',

                    },
                    {
                        field: 'created_at',
                        title: '创建时间'
                    },
                    {
                        title: "操作",
                        templet: function (d) {
                            // d 是当前行的数据对象，d.id 就是主键
                            return `
                                 <button lay-event="delete" class="layui-btn layui-bg-red layui-btn-xs">删除</button>
                                <button lay-event="detail"  class="layui-btn layui-btn-xs">详情</button>
                            `
                        }
                    }
                ]]
            })
            // 创建Playbook
            table.on('toolbar(test)', function (obj) {
                console.log(obj.event)
                if (obj.event == 'left_toolbar_create_playbook') {
                    layer.open({
                        type: 2, // page 层类型
                        area: ['700px', '600px'],
                        title: 'Hello layer',
                        scrollbar: false,
                        maxmin: true, // 允许全屏最小化
                        content: '{% url 'playbook:edit_code' %}',
                        end: function () {
                            // 在这里重载表格
                            layui.table.reload('test'); // 'test' 是你 table.render({ elem: "#test" }) 中的 elem ID
                        }
                    });
                }
            })

        })
    </script>


    <script>

    </script>
{% endblock %}